.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  right: 4rem;
  z-index: 1001;
  background-color: #e0e0e0;
  border-radius: 0.6rem;
  border: 1px solid #cfcfcf;
  overflow: hidden;

  svg {
    margin-right: -3.6px;
    overflow: visible;
  }

  .circle {
    position: absolute;
    background-color: #c0c0c0;
    border-radius: 50%;
    right: 50%;
    top: -3.3rem;
    transform: translateX(50%);
    //   transform: translate(-50%, -0%);
    z-index: 1002;
    mix-blend-mode: difference;
  }
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;

  height: 100vh;
  background-color: var(--secondary-background);
  z-index: 1000;

  &__container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    place-items: center;
    height: 100%;
    max-width: 190rem;
    margin: 0 auto;
  }

  &__links {
    width: 90%;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    font-family: var(--font-zen-dots);
  }

  &__item {
    font-size: clamp(3rem, 5vw, 6rem);
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    line-height: 1;
    white-space: nowrap;

    opacity: 0.2;
    transition: opacity 1s ease;

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 1;
      color: #9e38ba;
    }

    &--small {
      font-size: clamp(2rem, 4vw, 7rem);
    }
  }

  &__footer {
    font-family: var(--font-google-sans);
    font-size: 1.2rem;
    margin-top: 2rem;
    width: 80%;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
  }

  &__social-item {
    position: relative;
    overflow: hidden;

    opacity: 0.4;
    transition: opacity 0.6s ease;
    &:hover {
      opacity: 1;
    }
  }

  &__copyright {
    font-size: 1rem;
    margin-top: 2rem;
  }
}
